.skills-logo {
  height: 130px;
  width: 130px;
  border: 7px solid #e9ecef !important;
  border-radius: 100px;
}

.about-logo {
  height: 100%;
  width: 100%;
}

.profile-pic {
  width: 219px;
  height: 300px !important;
  border: 7px solid #fff;
  border-radius: 50%;
}

.github-logo {
  height: 35px !important;
  width: 35px !important;
  border: 1px solid transparent !important;
}

.team-flex {
  display: flex;
  justify-content: center;
}

/* IMAGE SLIDES */
.mySlides {
  display: none
}

.w3-left, .w3-right, .w3-badge {
  cursor: pointer;
}

.w3-left, .w3-right {
  color: black;
}

.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0
}